.home {
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(81, 198, 245);
    text-align: center;
    color: white;
    overflow: hidden;
}

.profileImg {
    width: 300px;
    height: 300px;
    margin-left: 780px;
    margin-top: 0;
}

.profile {
    position: relative; 
    top: -330px;
    width: 150%;
}

.tagline {
    color: black;
    margin-right: 650px;
    margin-top: 120px;
}

.title {
    color: black;
    margin-right: 650px;
    margin-top: 25px;
}

.sub-title {
    color: black;
    margin-right: 575px;
    margin-top: 25px;
    width: 510px;
    height: 90px;
    text-align: left;
    margin-left: 200px;
}

.btn-l-m {
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-color: crimson;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: large;
    margin-left: -725px;
    color: white;
    top: -300px;
}

.btn-l-m:hover {
    background-image: linear-gradient(to right, #cc2b5e, #753a88) !important;
}

.btn-l-m a {
    text-decoration: none;
    color: white;
}